<script>
  function hideA(x) {
    if (x.checked) {
      document.getElementById("A").style.display = "none";
      document.getElementById("aa").style.display = "none";
      document.getElementById("B").style.display = "block";
      document.getElementById("bb").style.display = "block";
    }
  }

  function hideB(x) {
    if (x.checked) {
      document.getElementById("B").style.display = "none";
      document.getElementById("bb").style.display = "none";
      document.getElementById("A").style.display = "block";
      document.getElementById("aa").style.display = "block";
    }
  }

  function hideMail(x) {
    if(x.checked) {
      document.getElementById("mail").style.display = "block";
    }
    else{
      document.getElementById("mail").style.display = "none";
    }
  }
</script>

<%- include ../partials/header -%>
<%- include ../partials/nav -%>

<!--2 cat card views-->
<div class="container">
  <br>
  <br>
  <div class="row justify-content-center m-2">
    <div class="col-md-8 card shadow-lg p-3 mb-5 mt-4 bg-white rounded">
      <div class="card-body text-center">
        
        <form ref='uploadForm' id='uploadForm' action='upload' method='post' encType="multipart/form-data">
          <h3 id = "bb" style="display:none" class="card-text">Upload from Database</h3>
          <h3 id="aa" class="card-text">Upload from Excel</h3>
          <div class = "radio mt-3" >
            <input type="radio" onchange="hideB(this)" name="aorb" checked> File Upload |
            <input type="radio" onchange="hideA(this)" name="aorb"> Application Search
          </div>
          <div id="B" style="display:none">
            <br>
            <input class="form-control" style="height:45px;" type="search" placeholder="Application ID" aria-label="Application ID">
            <br>
            <button class="btn btn-primary mt-1" type='submit' value='application_search' name="authenticate">
              Authenticate
            </button>
          </div>
          
          <div id="A">
            <br>
            <input class="form-control" type="file" style="height:60%;" name="upload_file" />
            <br>
            <div id="mail" style="display: none">
              <input type="text" name = "subject" class = "form-control" placeholder="Enter Mail Subject...."><br>
              <input id="check_mail_hidden" type = "hidden" value="0" name="wantMail">
            </div>
            <input id="check_mail" type = "checkbox" onchange="hideMail(this)" value="1" name="wantMail"> Send me an email with the output. <br>
            <script>
              if(document.getElementById("check_mail").checked) {
                document.getElementById('check_mail_hidden').disabled = true;
              }
            </script>
            <button class="btn btn-primary mt-3" type='submit' value='upload' name = "authenticate">
              Authenticate
            </button>
          </div>

          
        </form>
        <!--a href="#" class="btn btn-primary" id="uploadPDF" onchange="uploadFile()"><i class="fa fa-upload" aria-hidden="true"></i>  Upload PDF</a-->

      </div>
    </div>
  </div>
  <br>
  <br>
</div>

<hr>

<!--
<div class="container">
  <div class="row  text-center">
    <div class="card m-3 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body text-center">
        <h5 class="card-title">Import from Database</h5>
        <br>
        <div class="row">
          <div class="col-sm-3 mt-3">
            <label>Enter Application ID : </label>
          </div>
          <div class="col-sm-6 mt-1">
            <input class="form-control" type="search" placeholder="Search" aria-label="Application ID">
          </div>
          <div class="col-sm-3 mt-1">
            <button class="btn btn-success" type="submit">Search</button>
          </div>
        </div>
        <br>
        <p class="text-center">or</p>
        <br>
        <div class="row">
          <div class="col-sm-3 mt-3">
            <label>Enter Applicant name : </label>
          </div>
          <div class="col-sm-6 mt-1">
            <input class="form-control" type="search" placeholder="Search" aria-label="Applicant Name">
          </div>
          <div class="col-sm-3 mt-1">
            <button class="btn btn-success" type="submit">Search</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
-->
<%- include ../partials/footer -%>